html, body {
  height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, darkgray, lightgray); }

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  height: 70vmin;
  width: 70vmin;
  border: 1.5vmin solid black;
  border-radius: 100%;
  transform: rotate(45deg);
  background-color: black; }

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  border-radius: 100%;
  transform: rotate(-45deg);
  border: 3vmin solid black;
  background: linear-gradient(to right top, lightgray, white); }

#round-num {
  font: bold 3vmin Exo, sans-serif;
  position: absolute;
  top: 7.5%;
  left: 41%;
  padding: .4vmin .5vmin;
  border-radius: 25%;
  background: black;
  color: white; }

h1 {
  font: bolder 4vmin Exo, sans-serif;
  position: absolute;
  top: 27.5%;
  left: 27.5%;
  text-transform: uppercase; }

button {
  font: 2vmin Exo, sans-serif !important;
  position: absolute;
  background-color: darkgray;
  padding: 0 !important; }
  button:hover {
    cursor: pointer;
    background-color: darkgray;
    border-color: lightblue; }

#strict-mode {
  height: 17%;
  width: 60%;
  line-height: 17%;
  top: 52%;
  left: 20.5%; }

#strict-mode.active {
  background: linear-gradient(to left top, #ffffa9, white) !important; }

#power {
  height: 17%;
  width: 32.5%;
  line-height: 17%;
  top: 75%;
  left: 33.5%; }

#power.active {
  background: linear-gradient(to left top, #99ff99, white) !important; }

.quarter-circle {
  flex: 0 0 50%;
  height: 50%;
  width: 50%;
  border: 1.5vmin solid black; }
  .quarter-circle:hover {
    cursor: pointer; }

[data-color="red"] {
  background: linear-gradient(to top, #ff5e5e, #b41313);
  border-radius: 100% 0 0 0; }

[data-color="green"] {
  background: linear-gradient(to right, #4ed44e, #038903);
  border-radius: 0 100% 0 0; }

[data-color="blue"] {
  background: linear-gradient(to bottom, #6c53bd, #210872);
  border-radius: 0 0 100% 0; }

[data-color="yellow"] {
  background: linear-gradient(to left, #ffe35e, #b49813);
  border-radius: 0 0 0 100%; }

.darkened {
  opacity: .65; }
