html, body {
  height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, darkgray, lightgray); }

#blocker {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  background-color: white;
  cursor: wait;
  z-index: -1; }

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  height: 70vmin;
  width: 70vmin;
  border: 1.5vmin solid black;
  border-radius: 100%;
  background-color: black; }

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  border-radius: 100%;
  border: 3vmin solid black;
  background: linear-gradient(to right top, lightgray, white); }

#round-num {
  font: 3vmin "Ubuntu Mono", sans-serif;
  position: absolute;
  top: 7.5%;
  left: 43%;
  padding: .4vmin .5vmin;
  border-radius: 25%;
  background: black;
  color: white; }

h1, .game-text {
  font: bolder 4vmin Exo, sans-serif;
  position: absolute;
  top: 27.5%;
  text-transform: uppercase; }

h1 {
  left: 25.5%; }
  h1 sup {
    font-size: 2vmin; }

#wrong-text {
  color: red;
  left: 21.5%; }

#win-text {
  color: green;
  left: 18%; }

#correct-text {
  color: green;
  left: 16.95%; }

button {
  font: 2vmin Exo, sans-serif !important;
  position: absolute;
  background-color: darkgray;
  padding: 0 !important; }
  button:hover {
    cursor: pointer;
    background-color: darkgray;
    border-color: lightblue; }

#strict-mode {
  height: 17%;
  width: 60%;
  line-height: 17%;
  top: 52%;
  left: 20.5%; }

#strict-mode.active {
  background: linear-gradient(to left top, #ffffa9, white) !important; }

#power {
  height: 17%;
  width: 32.5%;
  line-height: 17%;
  top: 75%;
  left: 33.5%; }

#power.active {
  background: linear-gradient(to left top, #99ff99, white) !important; }

.quarter-circle {
  flex: 0 0 50%;
  height: 50%;
  width: 50%;
  border: 1.5vmin solid black; }
  .quarter-circle:hover {
    cursor: pointer; }

[data-color="red"] {
  background: linear-gradient(to left top, #ff5e5e, #b41313);
  border-radius: 0 100% 0 0; }
  [data-color="red"]:hover {
    background: linear-gradient(to left top, white, #b41313); }

[data-color="green"] {
  background: linear-gradient(to left bottom, #4ed44e, #038903);
  border-radius: 100% 0 0 0; }
  [data-color="green"]:hover {
    background: linear-gradient(to left bottom, white, #038903); }

[data-color="blue"] {
  background: linear-gradient(to right top, #6c53bd, #210872);
  border-radius: 0 0 100% 0; }
  [data-color="blue"]:hover {
    background: linear-gradient(to right top, white, #210872); }

[data-color="yellow"] {
  background: linear-gradient(to right bottom, #ffe35e, #b49813);
  border-radius: 0 0 0 100%; }
  [data-color="yellow"]:hover {
    background: linear-gradient(to right bottom, white, #b49813); }

.darkened {
  opacity: .65; }
