$red: #ff5e5e;
$green: #4ed44e;
$blue: #6c53bd;
$yellow: #ffe35e;

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right top, darkgray, lightgray);
}

main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    height: 70vmin;
    width: 70vmin;
    border: 1.5vmin solid black;
    border-radius: 100%;
    transform: rotate(45deg);

    background: black;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    border-radius: 100%;
    transform: rotate(-45deg);
    border: 3vmin solid black;

    background: linear-gradient(to right top, lightgray, white);
}

#round-num {
    font: bold 3vmin Exo, sans-serif;
    position: absolute;
    top: 7.5%;
    left: 41%;
    padding: .4vmin .5vmin;
    border-radius: 25%;

    background: black;
    color: white;
}

h1 {
    font: bolder 4vmin Exo, sans-serif;
    position: absolute;
    top: 27.5%;
    left: 9%;
    text-transform: uppercase;
}

button {
    font: bold 2vmin Exo, sans-serif !important;
    position: absolute;
    background: darkgray !important;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        background: darkgray;
    }
}

#strict-mode {
    height: 17%;
    width: 60%;
    line-height: 17%;
    top: 52%;
    left: 20.5%;
}

#power {
    height: 17%;
    width: 32.5%;
    line-height: 17%;
    top: 75%;
    left: 33.5%;
}

button.active {
    background: lightgreen !important;
}

.quarter-circle {
    flex: 0 0 50%;
    height: 50%;
    width: 50%;
    border: 1.5vmin solid black;

    &:hover {
        cursor: pointer;
    }
}

[data-color="red"] {
    background: $red;
    border-radius: 100% 0 0 0;
}

[data-color="green"] {
    background: $green;
    border-radius: 0 100% 0 0;
}

[data-color="blue"] {
    background: $blue;
    border-radius: 0 0 100% 0;
}

[data-color="yellow"] {
    background: $yellow;
    border-radius: 0 0 0 100%;
}