$red: #ff5e5e;
$green: #4ed44e;
$blue: #6c53bd;
$yellow: #ffe35e;

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right top, darkgray, lightgray);
}

#blocker {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    background-color: white;
    cursor: wait;
    z-index: -1;
}

main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    height: 70vmin;
    width: 70vmin;
    border: 1.5vmin solid black;
    border-radius: 100%;

    background-color: black;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    border-radius: 100%;
    border: 3vmin solid black;

    background: linear-gradient(to right top, lightgray, white);
}

#reset, #reset-blocker, #round-num {
    position: absolute;
}

#reset, #reset-blocker {
    height: 2vmin;
    width: 2vmin;
    top: 78.9%;
    left: 72%;
    transition-duration: .3s;

    &:hover {
        cursor: pointer;
        font-size: 2vmin;
    }
}

#reset-blocker {
    z-index: -1;
}

#round-num {
    font: 3vmin "Ubuntu Mono", sans-serif;
    padding: .4vmin .5vmin;
    border-radius: 25%;
    background: black;
    color: white;
    top: 7.5%;
    left: 43%;
}

h1, .game-text {
    font: bolder 4vmin Exo, sans-serif;
    position: absolute;
    top: 27.5%;
    text-transform: uppercase;
}

h1 {
    left: 25.5%;

    sup {
        font-size: 2vmin;
    }
}

#wrong-text {
    color: red;
    left: 21.5%;
}

#win-text {
    color: green;
    left: 18%;
}

#correct-text {
    color: green;
    left: 16.95%;
}

button {
    font: 2vmin Exo, sans-serif !important;
    position: absolute;
    background-color: darkgray;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        background-color: darkgray;
        border-color: lightblue;
    }
}

#strict-mode {
    height: 17%;
    width: 60%;
    line-height: 17%;
    top: 52%;
    left: 20.5%;
}

#strict-mode.active {
    background: linear-gradient(to left top, $yellow + 75, white) !important;
}

#power {
    height: 17%;
    width: 32.5%;
    line-height: 17%;
    top: 75%;
    left: 33.5%;
}

#power.active {
    background: linear-gradient(to left top, $green + 75, white) !important;
}

.quarter-circle {
    flex: 0 0 50%;
    height: 50%;
    width: 50%;
    border: 1.5vmin solid black;

    &:hover {
        cursor: pointer;
    }
}

[data-color="red"] {
    background: linear-gradient(to left top, $red, $red - 75);
    border-radius: 0 100% 0 0;

    &:hover {
        background: linear-gradient(to left top, $red + 200, $red - 75);
    }
}

[data-color="green"] {
    background: linear-gradient(to left bottom, $green, $green - 75);
    border-radius: 100% 0 0 0;

    &:hover {
        background: linear-gradient(to left bottom, $green + 200, $green - 75);
    }
}

[data-color="blue"] {
    background: linear-gradient(to right top, $blue, $blue - 75);
    border-radius: 0 0 100% 0;

    &:hover {
        background: linear-gradient(to right top, $blue + 200, $blue - 75);
    }
}

[data-color="yellow"] {
    background: linear-gradient(to right bottom, $yellow, $yellow - 75);
    border-radius: 0 0 0 100%;

    &:hover {
        background: linear-gradient(to right bottom, $yellow + 200, $yellow - 75);
    }
}

.darkened {
    opacity: .65;
}